<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nickName</key>
		<string>大学同学</string>
		<key>group</key>
		<array>
			<dict>
				<key>photoName</key>
				<string>icon1</string>
				<key>nickName</key>
				<string>时随风</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon2</string>
				<key>nickName</key>
				<string>懿</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon3</string>
				<key>nickName</key>
				<string>非白</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon4</string>
				<key>nickName</key>
				<string>z</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon5</string>
				<key>nickName</key>
				<string>tourist</string>
				<key>info</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>高中同学</string>
		<key>group</key>
		<array>
			<dict>
				<key>photoName</key>
				<string>icon6</string>
				<key>nickName</key>
				<string>隐居于月球</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon7</string>
				<key>nickName</key>
				<string>苍炯</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon8</string>
				<key>nickName</key>
				<string>冲锋钢饺儿</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon9</string>
				<key>nickName</key>
				<string>超人不会飞</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon10</string>
				<key>nickName</key>
				<string>neverCu</string>
				<key>info</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>网友</string>
		<key>group</key>
		<array>
			<dict>
				<key>photoName</key>
				<string>icon11</string>
				<key>nickName</key>
				<string>入戏太深</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon12</string>
				<key>nickName</key>
				<string>嗯</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon13</string>
				<key>nickName</key>
				<string>cf不上1900不改名</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon14</string>
				<key>nickName</key>
				<string>Granol</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon15</string>
				<key>nickName</key>
				<string>爱喝可乐大方脑袋</string>
				<key>info</key>
				<string></string>
			</dict>
			<dict>
				<key>photoName</key>
				<string>icon16</string>
				<key>nickName</key>
				<string>嘀哒嘟叮</string>
				<key>info</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
